@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-pt-sans text-gray-600;
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate {
    animation: scroll 40s linear infinite;
  }

  @keyframes scrollY {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .animate-scroll-vertical {
    animation: scrollY 20s ease-in-out infinite alternate;
  }
  .animate-scroll-horizontal {
    animation: scroll 20s ease-in-out infinite alternate;
  }
}
