@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-pt-sans text-gray-600;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes scrollY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate {
  animation: scroll 50s linear infinite;
}
.animate2 {
  animation: scroll2 50s linear 25s infinite;
}

.animate-scroll-vertical {
  animation: scrollY 20s ease-in-out infinite alternate;
}
